/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #000000;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #00FF21;
    border-top-color: #000000;
    border-bottom-color: #000000;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  body {
    font-family: "Open Sans", sans-serif;
    color: #000;
    background: #000;
  }

  @media (min-width: 991px) {
    #main {
      background: #000;
      margin-left: 0px;
    }
  }

  #main {
    background: #000;
  }
  
/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
    padding-top: 0px;
    background: #000;
  }
  
  .portfolio-details .portfolio-details-slider img {
    width: 100%;
    height: 100%;
    padding-top: 15%;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 0px;
    position: relative;
    background: #000;
    color: #00FF21;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #FFD700;
    opacity: 1;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #00FF21;
  }
  
  .portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
    background: #000;
  }
  
  .portfolio-details .portfolio-info h3 {
    color: #00FF21;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  
  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
    color: #FFF;
  }
  
  .portfolio-details .portfolio-info ul li+li {
    margin-top: 5px;
  }
  
  .portfolio-details .portfolio-description {
    padding-top: 30px;
    color: #fff;
  }
  
  .portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .portfolio-details .portfolio-description p {
    padding: 0;
  }
  